* {
    box-sizing: border-box;
  }
  
  html {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'Bangers', cursive;
  }
  
  h2{
    color:rgb(99, 85, 85);
  }
  
  img,iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Settings For Menu */
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: rgb(99, 85, 85);
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: rgb(252, 252, 252);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: rgba(26, 29, 28, 0.685);
  }
  
  /* Settings For Members, Albums, Merchandise */
  .column {
    float: left;
    width: 14.286%;
    margin-bottom: 16px;
    padding: 0 8px;
    background-image: url("https://i.pinimg.com/236x/9a/25/ae/9a25aeefd3c41788b0135ce705a89e37.jpg");
    color: rgb(99, 85, 85);
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  @media screen and (max-width: 992px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  .title {
    color: grey;
  }
  
  /* Settings For Albums,Merchandise*/
  
  table, th, td {
    border: 5px solid rgb(99, 85, 85);
    font-size:15px;
    color:rgb(99, 85, 85);
    background-image: url("https://i.pinimg.com/236x/9a/25/ae/9a25aeefd3c41788b0135ce705a89e37.jpg");
  }
  
  table {
    width: 100%;
  }
  